/*/ /////////////////////
//////// NEWS //////////
///////////////////////*/

/*TOP CARDS*/


.container__cards{
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



  .card{
    width: 300px;
    margin: 30px;
    transition: all 300ms;
  background-color: transparent;
  border: none;
  
  }
  



.card:hover{
  width: 350px;
}

.card .cover{
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  background-color: none;
  .card-body{
    background-color: white;
    color: $backgroundColor;
    box-shadow: 1rem 1rem 2rem rgb(12, 14, 17);
     border-radius: 0px 0px 20px 20px;
   }
}

.card .cover img{
  width: 100%;
  display: block;
  margin: auto;
  position: relative;
  top: 40px;
  z-index: 1;
  filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
  transition: all 400ms;
}

.card:hover .cover img{
  top: -40px;
  filter: none;
}

.card .img-back{
  width: 100%;
  height: 200px;
  position: absolute;
bottom: -80px;
  left: 0;
  background-size: cover;
  border-radius: 20px;
  transition: all 300ms;
  background-image: url(../img/news/bg1.svg);
}



.card:nth-child(even) .img-back{
  background-image: url(../img/news/bg2.svg);
}
.card:hover .img-back{
  bottom: -40px;
}

