// Color

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

$backgroundColor: rgb(29, 29, 31);
$colorYellow: #feff5e;
$colorViolet: #a284ed;
$colorCelest: #16feff;
$colorLight:white;
$colorTuMejorAmigo:#695997;
$colorBtn:#827AB6;


$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;


// BORDER

 $boderBtn:25px;

// Font Family

$font-family-base: "montserrat";
$logo: "Sigmar One", cursive;
$tittleH1: "Josefin Sans", sans-serif;
$titleH1Index : 'Zodiak', serif;
// Card Magic
