
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
// font-family: 'Righteous', serif;
@import url(https://fonts.googleapis.com/css?family=Righteous);

// Color



$backgroundColor: rgb(29, 29, 31);
$colorYellow: #feff5e;
$colorViolet: #a284ed;
$colorCelest: #16feff;
$colorLight:white;
$colorTuMejorAmigo:#695997;
$colorBtn:#827AB6;




// BORDER

 $boderBtn:25px;

// Font Family
$titleH1Index : 'Bebas Neue', sans-serif;
$tittleH1:  'Josefin Sans', sans-serif;
$font-family-base:'Montserrat', sans-serif;
$font-family-catalogue: 'Righteous', serif;


// Card Magic