#sectionCatalogue {
  background-color: white;
  //background: #e0e0e0;
}

.positionText {
  position: absolute;
  top: 43%;
  left: 50%;
}
h1 {
  display: inline-block;
  color: white;
  font-family: $font-family-catalogue;
  font-size: 8em;
  text-shadow: 0.03em 0.03em 0 #ffcd14;
}
h1:after {
  content: attr(data-shadow);
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  z-index: -1;
  text-shadow: none;
  background-image: linear-gradient(
    45deg,
    transparent 5%,
    rgb(255, 255, 255) 45%,
    rgb(253, 249, 255) 55%,
    transparent 0
  );
  background-size: 0.05em 0.05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shad-anim 25s linear infinite;
}

@keyframes shad-anim {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -100%;
  }
}




.shop-card {
  background: transparent;

  display: flex;
  flex-direction: column;
  color: rgba(54, 57, 61, 0.8);
  height: fit-content;

  padding: 12px;
  text-align: center;

  border-radius: 12px;
  position: relative;
  transition: all 0.1s ease;
  &:hover {
    border: 2px solid $colorBtn;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.16);
  }
  .title {
    font-weight: 500;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .price {
    font-size: 18px;
    letter-spacing: 2px;
  }
}

.imgHidden {
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  &img {
    height: 100%;
    object-fit: contain;

    margin: 0 auto;
    box-shadow: 4px 4px 8px 2px rgb(255, 255, 255),
      -4px -4px 8px 0 rgba(0, 0, 0, 0.3),
      inset -4px -4px 8px 0 rgb(255, 255, 255),
      inset 4px 4px 8px 0 rgba(0, 0, 0, 0.15);
  }
}

.btn-outline-card {
  @include button-outline-variant(
    $colorTuMejorAmigo,
    $color-hover: color-contrast($backgroundColor),
    $active-background: $colorBtn,
    $active-border: $colorBtn,
    $active-color: color-contrast($backgroundColor)
  );

  font-size: 1rem;
  font-weight: 600;
  padding: 0.4rem 3rem;
  transition: all 0.7s ease;

  border-radius: 0.8rem;
  &::hover {
    transition: all;
  }
}
