
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
  
    font-family: $font-family-base;
  }
  .font-text {
   
  font-family: open sans;
    text-transform: uppercase;
    font-size: 80px;
    color: transparent;
    background-color: #000000;
    text-shadow: 2px 2px 3px rgba($color: rgb(29, 29, 31), $alpha: 0.8);
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip: text;
  
  }
  // BTN 
  .btn-send {
    color: #fff;
    background-color: $colorBtn;
   font-size: 1rem;
    font-weight: 600;
    padding: 0.625rem 2rem;
    border-radius: 0.375rem;
    border-color: $colorTuMejorAmigo;
    border-width: 0;
  }